<!DOCTYPE html>
<html>

<body>


    <div>


        <div class="listUsers">
            <p>PERSONAS CONECTADAS</p>
            <div *ngFor="let item of usersList" (click)="selectUser(item._id, item.nombres, item.apellidos)"
                [ngClass]="{'userSelected': selectedUser === item._id}">
                <span>{{item.nombres}} {{item.apellidos}}</span>
            </div>
            <button (click)="addUserGroup()">Añadir al grupo</button>
        </div>
        <hr>

        <div>

            <form [formGroup]="formCreateGroup" (ngSubmit)='registerGroup()'>
                <p>CREAR GRUPO</p>
                <label for="">Nombre Grupo: </label>
                <input class="text" type="text" formControlName="nombreGrupo" placeholder="nombreGrupo"
                    name="nombreGrupo" required>
                <br>
                <label for="">Participantes: </label>
                <br>
                <li *ngFor="let item of userGroups">
                    {{item.nameUser}} {{item.apeUser}}

                </li>

                <br>
                <button type="submit">Crear Grupo</button>
            </form>
        </div>


    </div>
    <hr>
    <div class="groupUser">
        <p>GRUPOS A LOS QUE PERTENEZCO</p>
        <div *ngFor="let item of groupList">
            <p>Nombre: {{ item.nombre}}</p>
            <p>Propietario: {{ item.propietario.nombres}}</p>
            <p>Participantes </p>
            <div *ngFor="let item2 of item.participantes">
                <p>{{item2.nameUser}} {{item2.apeUser}} </p>

            </div>
            <button (click)="enterChat()"> Ingresar al chat</button>


        </div>

    </div>
    <hr>
    <div class="chat">
        <p>CHAT GRUPO:</p>
        <form [formGroup]="mensajesChat" (ngSubmit)="addChat()">
            <input class="text" type="text" formControlName="mensaje" placeholder="mensaje" name="mensaje" required>


            <button type="submit" [disabled]="mensajesChat.invalid">Enviar</button>
        </form>
        <ul>
            <!-- <li *ngFor="let message of messages">
                {{message}}

            </li> -->
            <li *ngFor="let message of messageSave">
                {{message.nameUser}} : {{message.mensaje}}

            </li>

        </ul>
        <button (click)="endConver()">Finalizar Chat</button>
    </div>


</body>

</html>