<!--Main-->
<div class="main">
  <h1>Login to chat</h1>
  <div class="row">
    <div class="form-p">
      <form [formGroup]="formLogin" (ngSubmit)='loginUser()'>
        <input class="text" type="text" formControlName="username" placeholder="username" name="username" required>
        <input class="text" type="password" formControlName="password" placeholder="password" name="password" required>

        <button type="submit" [disabled]="formLogin.invalid">Acceder</button>
      </form>

      <a data-toggle="modal" data-target="#modalUser">Crear Usuario</a>

    </div>
  </div>
</div>

<div class="register" >
  <form [formGroup]="formRegister" (ngSubmit)='registerUser()'>
    <input class="text" type="text" formControlName="nombres" placeholder="nombres" name="nombres" required>
    <input class="text" type="text" formControlName="apellidos" placeholder="apellidos" name="apellidos" required>
    <input class="text" type="text" formControlName="email" placeholder="email" name="email" required>
    <input class="text" type="text" formControlName="password" placeholder="password" name="password" required>
    <select formControlName="rol">
      <option [ngValue]="null" disabled>Choose your profile</option>
      <option *ngFor="let item of roles" [ngValue]="item.nameRol">
       {{ item.nombreRol }}
      </option>
    </select> 

    <button type="submit" >Registrar</button>
  </form>
</div>